# Byte-compiled / optimized / DLL files
#__pycache__/
*.py[cod]
out/
*.apk
# Idea project files
.idea/
.idea/workspace.xml

# Sqlite database files
*.sqlite3
*.zip
*.rar
build/
dist/
# Log files
#*.log

# Text files
#*.txt

# Lock files
*.lock

# Deploy files
#deploy/

# Migrations files
#migrations/
*.pyc
*.csv
